@page
@model HouseLemmingv3.Pages.Manage.Adverts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Advert.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.DescShort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.DescShort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.DescLong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.DescLong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.NumToilets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.NumToilets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.NumRooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.NumRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.PriceMonthly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.PriceMonthly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.Deposit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.Deposit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.ContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.ContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.AddrLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.AddrLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.AddrLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.AddrLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.AddrCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.AddrCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.AddrCounty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.AddrCounty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advert.AddrPostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advert.AddrPostCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Advert.AdvertId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
