@page
@model HouseLemmingv3.Pages.Manage.Adverts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (Model.ShowCreate)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

@foreach (var item in Model.Advert)
{
    <div class="blog-card" onclick="window.location.href='./Adverts/Details/?id=@item.AdvertId'">
        <div class="meta">
            @if (item.Images.Any())
            {
                <div class="photo" style="background-image: url('@Model.ImageHelpers.ViewImage(item.Images[0].ImageId)')"></div>
            }
            else
            {
                <div class="photo" style="background-image: url('../images/default-image.jpg')"></div>
            }
            <ul class="details">
                <li class="author">@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</li>
                <li class="date">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</li>
                <!--<li class="tags">
                    <ul>
                        <li><a href="#">Any</a></li>
                        <li><a href="#">Useful</a></li>
                        <li><a href="#">Fact</a></li>
                        <li><a href="#">Here</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
        @if (item.Status == 1 && item.Requests.OrderByDescending(y => y.DateCreation).First().Approval == 2)
        {
            @:Brand = green
        }
        @if (item.Status == 1 && item.Requests.OrderByDescending(y => y.DateCreation).First().Approval == 1)
        {
            @:Brand = orange
        }
        @if (item.Status == 0 || item.Requests.OrderByDescending(y => y.DateCreation).First().Approval == 0)
        {
            @:Brand = red
        }
        <div class="description">
            <h1>@Html.DisplayFor(modelItem => item.PriceMonthly)</h1>
            <h2>@Html.DisplayFor(modelItem => item.AddrLine1)</h2>
            <p> @Html.DisplayFor(modelItem => item.DescShort)</p>
            <p class="read-more">
                @if (Model.ShowEdit)
                {
                    <a asp-page="./Edit" asp-route-id="@item.AdvertId">Edit</a> @:|
                }


                <a asp-page="./Details" asp-route-id="@item.AdvertId">Read More</a>
            </p>
        </div>
    </div>
}
