@page
@model HouseLemmingv3.Pages.Manage.Adverts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (Model.ShowCreate)
{
    @:<p><a asp-page="Create">Create New</a></p>
}

@foreach (var item in Model.Advert)
{
    
    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url('../images/house1.jpg')"></div>
            <ul class="details">
                <li class="author">@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</li>
                <li class="date">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</li>
                <!--<li class="tags">
                    <ul>
                        <li><a href="#">Any</a></li>
                        <li><a href="#">Useful</a></li>
                        <li><a href="#">Fact</a></li>
                        <li><a href="#">Here</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
        <div class="description">
            <h1>@Html.DisplayFor(modelItem => item.PriceMonthly)</h1>
            <h2>@Html.DisplayFor(modelItem => item.AddrLine1)</h2>
            <p> @Html.DisplayFor(modelItem => item.DescShort)</p>
            <p class="read-more">
                <a asp-page="./Details" asp-route-id="@item.AdvertId">Read More</a>
            </p>
        </div>
    </div>
   
}
