@page
@model HouseLemmingv3.Pages.Manage.Requests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request.Advert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.Advert.AddrCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.Feedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.Feedback)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.Approval)
        </dt>
        <dd>
            @if (Model.Request.Approval == 0)
            {
                @:<font color="red">Declined</font>
            }
            @if (Model.Request.Approval == 1)
            {
                @:Unaddressed
            }
            @if (Model.Request.Approval == 2)
            {
                @:<font color="green">Approved</font>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.DateCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request.DateCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request.DateResponse)
        </dt>
        <dd>
            @if (Model.Request.DateResponse <= Model.Request.DateCreation)
            {
                @:n/a
            }
            else
            {
                @Html.DisplayFor(model => Model.Request.DateCreation)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Request.RequestId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
