@page
@model HouseLemmingv3.Pages.Manage.Requests.IndexModel

@{
    ViewData["Title"] = "Active Requests";
}

<h2>Open Requests</h2>
<form>
    <p>
        Approval Identifier <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
        (0 = disapproved, 1 = unaddressed, 2 = approved)
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Advert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].DateResponse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Requests) {
        <tr>
            <td>
                <a asp-page="../Adverts/Details" asp-route-id="@item.AdvertId">@Html.DisplayFor(modelItem => item.Advert.AddrLine1)</a>
            </td>
            <td>
                @if (item.DateCreation <= item.DateResponse)
                {
                    @Html.DisplayFor(modelItem => item.Feedback)
                }
                @if (item.DateCreation > item.DateResponse)
                {
                    @:n/a
                }

            </td>
            <td>
                @if (item.Approval == 0)
                {
                    @:Declined
                }
                @if (item.Approval == 1)
                {
                    @:Unaddressed
                }
                @if (item.Approval == 2)
                {
                    @:Approved
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            
            <td>
            @if (item.DateCreation <= item.DateResponse)
            {
                @Html.DisplayFor(modelItem => item.DateResponse)
            }
            @if (item.DateCreation > item.DateResponse)
            {
                @:n/a
            }
            </td>
            

            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RequestId">Respond</a> |
                <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
