@page
@model HouseLemmingv3.Pages.Manage.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Advert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateResponse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Request) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Advert.AddrCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResponse)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
