@page
@model HouseLemmingv3.Pages.Manage.Requests.IndexModel

@{
    ViewData["Title"] = "Active Requests";
}

<h2>Open Requests</h2>
<form>
    <p>
        Approval Identifier <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
        (0 = disapproved, 1 = unaddressed, 2 = approved)
    </p>
</form>

<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Advert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].DateResponse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    <a asp-page="../Adverts/Details" asp-route-id="@item.AdvertId">@Html.DisplayFor(modelItem => item.Advert.AddrLine1)</a>
                </td>
                <td>
                    @if (item.DateCreation <= item.DateResponse)
                    {
                        @Html.DisplayFor(modelItem => item.Feedback)
                    }
                    @if (item.DateCreation > item.DateResponse)
                    {
                       
                    }
                </td>
                <td>
                    @if (item.Approval == 0)
                    {
                        @:Declined
                    }
                    @if (item.Approval == 1)
                    {
                        @:Unaddressed
                    }
                    @if (item.Approval == 2)
                    {
                        @:Approved
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreation)
                </td>

                <td>
                    @if (item.DateCreation <= item.DateResponse)
                    {
                        @Html.DisplayFor(modelItem => item.DateResponse)
                    }
                    @if (item.DateCreation > item.DateResponse)
                    {
                        
                    }
                </td>



                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RequestId">Respond</a> |
                    <a asp-page="./Details" asp-route-id="@item.RequestId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
-->
@foreach (var item in Model.Requests)
{
    <div class="blog-card">
        <div class="meta">
            <div class="photo" style="background-image: url('../images/house1.jpg')"></div>
            <ul class="details">
                <li class="author">@Html.DisplayFor(modelItem => item.Advert.ApplicationUser.UserName)</li>
                <li class="date">Request Created: @Html.DisplayFor(modelItem => item.DateCreation)</li>
                <li class="date">
                    Request Responded: @if (item.DateCreation <= item.DateResponse)
                    {
                        @Html.DisplayFor(modelItem => item.DateResponse)
                    }
                    @if (item.DateCreation > item.DateResponse)
                    {
                        
                    }
                </li>
                <!--<li class="tags">
        <ul>
            <li><a href="#">Any</a></li>
            <li><a href="#">Useful</a></li>
            <li><a href="#">Fact</a></li>
            <li><a href="#">Here</a></li>
        </ul>
    </li>-->
            </ul>
        </div>
        <div class="description">
            <h1>
                @if (item.Approval == 0)
                {
                    @:<font color="red">Declined</font>
                }
                @if (item.Approval == 1)
                {
                    @:Unaddressed
                }
                @if (item.Approval == 2)
                {
                    @:<font color="green">Approved</font>
                }
            </h1>
            <h2><a asp-page="../Adverts/Details" asp-route-id="@item.AdvertId">@Html.DisplayFor(modelItem => item.Advert.AddrLine1)</a></h2>
            <p>
                @if (item.DateCreation <= item.DateResponse)
                {
                    @Html.DisplayFor(modelItem => item.Feedback)
                }
                @if (item.DateCreation > item.DateResponse)
                {
                    
                }
            </p>
            <p class="read-more">
                @if (Model.ShowEdit)
                {
                    <a asp-page="./Edit" asp-route-id="@item.RequestId">Respond to request</a> @:|
                }
                <a asp-page="./Details" asp-route-id="@item.RequestId">Request Details</a>
            </p>
        </div>
    </div>

}